<html>
<head>
  <script src="./submitURL.js"></script>
</head>

<body>
  <h1>In a fight between the superheroes Thor and Iron Man, who would win?</h1>
  <form class='question' name='winner'>
    <div>
      <input type='radio' name='winner' value='Thor' id='Thor' />
      <label for='Thor'>Thor</label>
    </div>
    <div>
      <input type='radio' name='winner' value='Iron Man' id='Iron-Man' />
      <label for='Iron-Man'>Iron Man</label>
    </div>
    <div>
      <input type='radio' name='winner' value='Dont know' id='Iron-Man' />
      <label for='Iron-Man'>Don't know one or both of these heroes</label>
    </div>
  </form>
  <button id='send'>Submit</button>
</body>

<script type='text/javascript'>
  document.querySelector('#send').addEventListener('click', () => {
    const formData = new FormData();
    const url = new URL(window.location.href);
    const assignmentId = url.searchParams.get('assignmentId');
    formData.append('assignmentId', assignmentId);

    const form = document.querySelector('form');
    form.action = (new URL('mturk/externalSubmit', url.searchParams.get('turkSubmitTo'))).href
    form.method = 'post';
    assignmentDiv = form.appendChild(document.createElement('div'));
    assignmentDiv.innerHTML = `<input type="hidden" name="assignmentId" value="${assignmentId}" />`;
    form.submit();
  });
</script>
</html>
